/* Container for the whole page */
div {
  font-family: Arial, sans-serif;
}

.main{
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  position: flex;
  padding: 5%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
html, body {
    margin: 0;
    height: 100vh;
}
