.note-container {
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
}
.note {
  background-color: #F5F5F5;
  border-left: 5px solid #007bff;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.5s ease;
  border: none; 
  position: relative;
}
.notes-contener {
  margin-bottom: 2rem;
}

.note-title {
  color: #333;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}


/* CSS Transition classes */
.note-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.note-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.note-exit {
  opacity: 1;
  transform: translateY(0);
}

.note-exit-active {
  opacity: 0;
  transform: translateY(-20px);
}
